<!DOCTYPE html>
<html lang="en">

{{> partials/clib-head }}

<body>
    
    {{> partials/clib-navigation usebackbutton="true"}}

    <div class="body-container">
        <div class="clib-component">
            <h1 class="clib-component-name">Ikoner</h1>
         
                <div class="clib-assets-container">
                 
                 
                    <ul class="clib-assets-list">
                        <li class="clib-asset">
                            <div class="clib-asset__container copy-this-markup">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 43"><defs><linearGradient x1="100%" y1="70.934%" x2="0%" y2="29.066%" id="a"><stop stop-color="#18CCB4" offset="0%"/><stop stop-color="#0AA0AA" offset="100%"/></linearGradient></defs><g fill="none" fill-rule="evenodd"><path d="M37 37V17.62c0-1.446-1.099-2.62-2.454-2.62H5.454C4.099 15 3 16.174 3 17.62V37" stroke="url(#a)" stroke-width="2.5" transform="translate(1 1)"/><path d="M41 38v.924C41 40.623 39.796 42 38.31 42H3.69C2.204 42 1 40.623 1 38.924V38h40z" stroke="#00AFAA" stroke-width="1.5"/><g stroke="#00AFAA" stroke-width="1.5"><path d="M11 5.848c5.347-6.464 14.047-6.464 19.394 0M13.91 8.273c3.742-4.849 9.832-4.849 13.575 0M16.818 10.697c2.139-3.232 5.62-3.232 7.758 0"/></g></g></svg>
                            </div>
                            <div class="clib-asset__name">Ikon navn</div>

                            <button class="clib-button clib-markup__copy-button-visible copyToClipboard"
                                    data-copytargetsiblingclassname="copy-this-markup">
                                <div class="clib-svg-container__button clib-markup__copy-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 448 512">
                                        <path d="M433.941 65.941l-51.882-51.882A48 48 0 0 0 348.118 0H176c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48v-48h80c26.51 0 48-21.49 48-48V99.882a48 48 0 0 0-14.059-33.941zM266 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h74v224c0 26.51 21.49 48 48 48h96v42a6 6 0 0 1-6 6zm128-96H182a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h106v88c0 13.255 10.745 24 24 24h88v202a6 6 0 0 1-6 6zm6-256h-64V48h9.632c1.591 0 3.117.632 4.243 1.757l48.368 48.368a6 6 0 0 1 1.757 4.243V112z" /></svg>
                                </div>
                                <div class="clib-svg-container__checkmark clib-markup__checkmark-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 512 512">
                                        <path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" /></svg>
                                </div>
                                <p class="clib-markup__copy-button-text">copy</p>
                            </button>
                        </li>
                        
                    </ul>

                </div>
            
        </div>
    </div>
    {{> partials/clib-footer }}
</body>

</html>