<footer class="clib-footer">
    <div class="clib-svg-container__medium">
        <svg xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 124 174">
            <g id="Immeo_5element_pos_rgb"
                transform="translate(0 -7.925)">
                <rect id="Rectangle_8"
                        data-name="Rectangle 8"
                        width="41.532"
                        height="170.892"
                        transform="translate(79.968 9.3)"
                        fill="none"
                        stroke="#6b6b6b"
                        stroke-width="3" />
                <path id="Path_1"
                        data-name="Path 1"
                        d="M56.117,173.058A28.058,28.058,0,1,1,28.1,145a28.062,28.062,0,0,1,28.015,28.058"
                        transform="translate(0 -18.693)"
                        fill="#6b6b6b" />
            </g>
        </svg>
    </div>
    <p>Frontend by Immeo P/S</p>
    <p>2020</p>
</footer>
<script src="/assets/clibapp.js"></script>