<nav class="clib-navigation">
        <div class="clib-navigation__container">
            <a class="clib-navigation__home"
               href="/">
                    <!-- CHANGE TO CLIENT LOGO  -->
                    <img src="https://www.immeo.dk/globalassets/images/logos-and-icons/logo-header.svg">
            </a>
            <!--div class="clib-navigation__demo-mode">
                <span class="clib-navigation__demo-mode-text">Demo mode</span>
                <label class="clib-navigation__switch">
                    <input type="checkbox">
                    <span class="clib-navigation__slider"></span>
                </label>
            </div-->
        </div>
    </nav>