@font-face {
    font-family: "Volte";
    font-weight: 400;
    src: url("/assets/fonts/Volte-Regular.otf") format("opentype"),
}

@font-face {
    font-family: "Volte";
    font-weight: 700;
    src: url("/assets/fonts/Volte-Semibold.otf") format("opentype"),
}
