@font-face {
    font-family: "Volte-Regular";
    src: url("/assets/fonts/Volte-Regular.otf") format("opentype"),
}

@font-face {
    font-family: "Volte-Medium";
    src: url("/assets/fonts/Volte-Medium.otf") format("opentype"),
}

@font-face {
    font-family: "Volte-Bold";
    src: url("/assets/fonts/Volte-Bold.otf") format("opentype"),
}

@font-face {
    font-family: "Volte-SemiBold";
    src: url("/assets/fonts/Volte-Semibold.otf") format("opentype"),
}
