
.clib-svg-container {
    height: 35px; 
    width: 35px; 

    &__small {
        height: 8px; 
        width: 8px; 
    }

    &__medium {
        height: 20px; 
        width: 20px; 
    }

    &__button {
        height: 15px; 
        width: 15px;
    }

    &__checkmark {
        height: 12px;
        width: 12px;
    }

    &__logo {
        height: auto;
        width: 145px;

        @media screen and (max-width: $breakpoint-tablet) {
            width: 90px;
        }
    }
}
