
/* COLORS */
$color-white : #ffffff;
$color-primary : #111;
$color-secondary : #666;
$color-background-grey : #F5F4F4;
$color-text-grey : #9F9F9F;
$color-dark-text-grey : #6B6B6B;
$color-text-area-grey : #E2E2E2;
$color-spacer-grey : #CDCCCC;
$color-accept-green : #62DA5A;
$color-focus : #2196F3;


/* BREAKPOINTS  */
$breakpoint-desktop : 1160px;
$breakpoint-tablet : 800px;
$breakpoint-mobile : 520px; 