.clib-component {
    height: 100%;
    min-height: 85vh;

    &--demo-active {
        .glide__track {
            position: fixed;
            top: 60px;
        } 

        .glide {
            pointer-events: none;
            cursor: default;
        }

        .clib-select-button__container {
            opacity: 0;
        }
    }

    &-name{
        text-align: center;
        padding-top: 20px;
        margin-bottom: 0;
    }
}

.clib-asset{
    width: 180px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    background-color: #efefef;
    justify-content: center;

    &__container{
        margin: 5px;
        width: 100%;
        max-width: 60px;
    }

    &__name{
        font-weight: 700;
        font-size: 12px;
        text-align: center;
    }
}

.clib-assets-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.clib-assets-container{
    margin: 0 auto;
    max-width: 1000px;
    padding: 25px;
}

.clib-window {
    max-width: 90vw;
    margin: 0 auto;
    background-color: transparent;
    -webkit-box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.08);

    @media screen and (max-width: 1680px) {
        max-width: 1680px;
    }

    &--demo-active {
        background-color: white;
        max-width: 500px;
        padding: 60px;
        max-width: 100vw!important;
        width: 100vw!important;
        height: 85vh!important;
        position: absolute;
        z-index: 3;
        top: 0;
        box-shadow: none;
    }
}



