.clib-api {
    &__container {
        background-color: $color-background-grey;
        max-width: 80vw;
        margin: 0 auto;
        border-radius: 5px;
        padding: 20px 60px;
        margin-bottom: 60px;

        @media screen and (max-width: $breakpoint-tablet) {
            padding: 20px 20px;
            max-width: 100%;
        }
    }

    &__table {
        tr,
        tbody {
            @media screen and (max-width: $breakpoint-desktop) {
                display: block;
            }
        }

        th {
            color: $color-dark-text-grey;
            font-family: "Volte-Semibold", Arial, Helvetica, sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;

            @media screen and (max-width: $breakpoint-desktop) {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }

        td {
            font-family: "Volte-Regular", Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: $color-dark-text-grey;
            border-radius: 3px;
            background-color: $color-text-area-grey;
            text-align: center;
            padding: 0 10px;
            position: relative;

            &:first-child {
                padding: 0 30px;
            }

            @media screen and (max-width: $breakpoint-desktop) {
                display: block;
                margin: 2px 0 40px 0;
            }
        }

        @media screen and (max-width: $breakpoint-desktop) {
            display: block;
        }
    }

    &__table-item {
        $table-header-texts: "method", "endpoint", "request-body", "response";
        width: 100%;
        height: 100%;
        min-height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $breakpoint-desktop) {
            @each $header-text in $table-header-texts {
                &--#{$header-text}:before {
                    position: absolute;
                    content: "#{$header-text}";
                    top: -20px;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    color: $color-dark-text-grey;
                    font-family: "Volte-Semibold", Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 10px 0 10px 0;
                    background-color: $color-background-grey;
                }
            }
        }
    }

    &__table-text-area {
        min-width: 28.5vw;
        padding-top: 30px;
        color: $color-dark-text-grey;
    }
}
